<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.ziph0n.ambiance</string>
			<key>showVersion</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>link</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Link Bridge</string>
		</dict>
		<dict>
			<key>action</key>
			<string>turnon</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Turn On Lights</string>
		</dict>
		<dict>
			<key>action</key>
			<string>turnoff</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Turn Off Lights</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Mode</string>
			<key>footerText</key>
			<string>A respring is needed to enable the screen mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.ziph0n.ambiance</string>
			<key>key</key>
			<string>mode</string>
			<key>validValues</key>
				<array>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
			<key>validTitles</key>
				<array>
					<string>Music Mode</string>
					<string>Screen Mode</string>
					<string>None</string>
				</array>
			<key>PostNotification</key>
			<string>com.ziph0n.ambiance/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Activator</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Turn On/Off lights</string>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>LibActivator</string>
			<key>activatorListener</key>
			<string>com.ziph0n.ambiance.switchonoff</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>The developer</string>
		</dict>
		<dict>
		    <key>big</key>
		    <true/>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>height</key>
		    <integer>56</integer>
		    <key>label</key>
		    <string>Ziph0n</string>
		    <key>user</key>
		    <string>Ziph0n</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>The designer</string>
		</dict>
		<dict>
		    <key>big</key>
		    <true/>
		    <key>cellClass</key>
		    <string>HBTwitterCell</string>
		    <key>height</key>
		    <integer>56</integer>
		    <key>label</key>
		    <string>ArkLotif</string>
		    <key>user</key>
		    <string>ArkLotif</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sendEmail</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Email Support</string>
		</dict>
		<dict>
			<key>action</key>
			<string>reddit</string>
			<key>cell</key>
			<string>PSButtonCell</string>
		    <key>cellClass</key>
		    <string>HBTintedTableCell</string>
			<key>label</key>
			<string>Find me on Reddit (/u/Ziph0n)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>© 2015-2017 Ziph0n (@Ziph0n)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Ambiance</string>
</dict>
</plist>
