Package: com.ziph0n.ambiance
Name: Ambiance
Depends: mobilesubstrate, ws.hbang.common, libactivator
Version: 1.0
Architecture: iphoneos-arm
Description: The perfect link between iOS and your Hue Lights!
Maintainer: Ziph0n
Author: Ziph0n
Section: Tweaks
